{% extends "AppBundle::base.html.twig" %}

{% block title %}Change Product{% endblock %}

{% block body %}
<h2>Product Modification</h2>

{% include "AppBundle:Product:form.html.twig" %}

{% endblock %}