{% extends "AppBundle::base.html.twig" %}

{% block title %}Change Product{% endblock %}

{% block body %}
<h2>Product Modification</h2>

<div class="well">

  {{ form(form) }}

  <a href="{{ path('app_products') }}" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left"></span>
    Cancel
  </a>
</div>

{% endblock %}