{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Category:index{% endblock %}

{% block body %}
<h1>The Category Page</h1>

<h3>Formulaire de modification</h3>


<div class="well">

  {{ form(form) }}

</div>

   <a href="{{ path('app_categories') }}" class="btn btn-default">

      <i class="glyphicon glyphicon-chevron-left"></i>

      Retour

    </a>


{% endblock %}
