{% extends "AppBundle::base.html.twig" %}

{% block title %}Change Category{% endblock %}

{% block body %}
<h2>Category Modification</h2>

{% include "AppBundle:Category:form.html.twig" %}

{% endblock %}
