{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Category:index{% endblock %}

{% block body %}
<h1>The Category Page</h1>

<h3>Formulaire d'annonce</h3>


<div class="well">

  {{ form(form) }}

</div>

{% endblock %}
