{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Category:index{% endblock %}

{% block body %}
<h1>The Category Page</h1>

<p>Soon: Category creation form here</p>

{% endblock %}
