{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Category:index{% endblock %}

{% block body %}
<h1>The Category Page</h1>

<p>Category deleted succesfully</p>




{% block ocplatform_body %}


  <h2>Supprimer une annonce</h2>


  <p>

    Etes-vous certain de vouloir supprimer l'annonce "{{ category.id }}" ?

  </p>


  {# On met l'id de l'annonce dans la route de l'action du formulaire #}

  <form action="{{ path('app_category_delete', {'id': category.id}) }}" method="post">

    <a href="{{ path('app_categories', {'id': category.id}) }}" class="btn btn-default">

      <i class="glyphicon glyphicon-chevron-left"></i>

      Retour à l'annonce

    </a>

    {# Ici j'ai écrit le bouton de soumission à la main #}

    <input type="submit" value="Supprimer" class="btn btn-danger" />

    {# Ceci va générer le champ CSRF #}

    {{ form_rest(form) }}

  </form>


{% endblock %}

{% endblock %}
