{% extends "TsukaimaBundle::base.html.twig" %}
{% block title %}TsukaimaBundle:User:userselect{% endblock %}
{% block body %}

    <h1>Welcome to the User:userselect page</h1>
    <h2>Display of the users corresponding to the {{ property }} corresponding to {{ value }}</h2>

    {% for user in users %}
        {{ user.name }}
    {% endfor %}

{% endblock %}
