{% extends 'AppBundle::base.html.twig' %}
{% block title %}AppBundle:Default:index{% endblock %}
{% block body %}

<h1>Homepage PimPamPoom</h1>
<p>The current Twig version is {{ constant('Twig_Environment::VERSION') }}</p>

{% endblock %}
